$color-principal: #32de8a;
$color-secundario: rgb(0,164,233);

html, body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Grandstander', cursive;
    font-size: 16px;
   /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
}

a{
    text-decoration: none;
    color: #000;
}

main{
    position: relative;
}

nav li{
    display: inline-block;
    margin-right: 1em;
    padding: 10px;
}


.pag-construccion{
    background: url('https://image.jimcdn.com/app/cms/image/transf/none/path/s5958a1244f0516cc/image/i865102ff69008c7b/version/1469708974/image.png') no-repeat;
}

.title {
    text-align: center;
    font-size: 2.5em;
    color:  #4CB5AE;
}

.texto {
    text-align: justify;
}

.banner {
    height: 60vh;
    background: url('../images/fondo.jpg');
    background-size: cover;
    background-position: center;
    padding: 2em;
    display: flex;
    align-items: flex-end;
    /*centrar de manera vertical el título "flex-end para ponerlo abajo"*/
    padding-bottom: 3%;
}

.banner h1 {
    font-size: 4em;
    margin: 0px;
    color: #32de8a;
}

.banner h4 {
    font-size: 1.2em;
}

nav.menu-sticky{
    position: sticky;
    background-color: #32DE8A;
    width: 100%;
    top: -1px;
    z-index: 99;    
    display: flex;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);    
}



.section .section-article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0em 1.5em;
}

.section .section-article .card {
    width: 30%;
    padding: 5px;
    text-align: center;
    position: relative;
}

.card .card-body {
    position: relative;
    border: 2px solid #4CB5AE;
    border-radius: 1em;
    top: -0.8em;
    padding: 0px 8px 8px 8px;
    min-height: 10em;
}

.card .card-servicio{
    font-size: 1.2em;
    color:  #4CB5AE;
    font-weight: 600;
}

.card .fas {
    position: relative;
    font-size: 2.5em;
    text-align: center;
    color: #2A4494;
    z-index: 1;
    background-color: #ffff;
    min-width: 1.5em;
}


a:visited, a.card-info{
    color: #000;
    font-weight: 600;
}

.container-about {
    padding-top: 8px;
    /*background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);*/
}

.container-about .section.article .about {
    display: flex;
}

.about {
    text-align: center;
    width: 30%;
    margin: 13px;
    justify-content: space-evenly;
    border: 2px solid #4CB5AE;
    border-radius: 1em;
    padding: 8px;
}

.imagen-funcionario {
    max-width: 15em;
    max-height: 10em;
    min-width: 8em;
    min-height: 5em;
    border-radius: 15em;
}

.cargo-funcionario {
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2A4494;
}

/*Sección de servicios*/

.container .section .section-servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-servicios{
    border: 2px solid #4CB5AE;
    margin: 10px;
    padding: 10px;
    border-radius: 1em;
    width: 40%;
}

.card-servicios figure{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
}

.card-servicios figure .imagen-servicios{
    max-height: 17em;
    border-radius: 1em;
    width: 45%;
    margin-right: 15px;
}

.card-servicios figure figcaption{
    width: 50%;
    text-align: justify;
}



.redes {
    position: fixed;
    /*flotante*/
    bottom: 2em;
    right: 1px;
    z-index: 1;
    /*sobre todos los elementos hermanos*/
}

.redes ul li {
    list-style: none;
    font-size: 2.5em;
}

.redes .fab.fa-whatsapp {
    color: #32de8a;
}

.social .fab.fa-whatsapp-square, .social .fab.fa-facebook-square {
    color: #4CB5AE;
}

.social {
    text-align: center;
    font-size: 3em;    
}

.footer-pagina {
    padding: 15px;
    background-color: #122c34;
}

.footer-pagina .ubicacion, .horario{
    text-align: center;
    color: #fff;
    margin: 0;
    padding-top: 8px;
}

@media(max-width:769px) {
    body {
        font-size: 15px;
    }
    .section .section-article .card {
        width: 45%;
    }
    .card .card-body {
        min-height: 11em;
    }
    .card-servicios{
        width: 70%;
    }
    
    .card-servicios figure .imagen-servicios{
        max-height: 17em;
        border-radius: 1em;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 8px;
    }
    .card-servicios figure figcaption{
        width: 100%;
        text-align: justify;
    }
    .about {
        text-align: center;
        width: 40%;
    }
}

@media(max-width:600px) {
    body {
        font-size: 14px;
    }
    nav.menu-sticky li{
        font-size: 0.9em;
    }
    .card .card-body {
        min-height: auto;
    } 
    .card-servicios figure .imagen-servicios{
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .card-servicios figure figcaption{
        width: 100%;
    }
    .card-servicios{
        width: 80%;
    }

    .about{
        width: 95%;
    }
}


@media(max-width:550px) {
    body {
        font-size: 13px;
    }
    nav.menu-sticky li{
        font-size: 0.8em;
    }
    .section .section-article .card {
        width: 95%;
    }
}

@media(max-width:380px) {
    body {
        font-size: 11px;
    }
    nav.menu-sticky li{
        font-size: 0.8em;
    }
}