
html, body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Grandstander', cursive;
   /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
}

.pag-construccion{
    background: url('https://image.jimcdn.com/app/cms/image/transf/none/path/s5958a1244f0516cc/image/i865102ff69008c7b/version/1469708974/image.png') no-repeat;
}

.banner {
    height: 60vh;
    background: url('../images/fondo.jpg');
    background-size: cover;
    background-position: center;
    padding: 2em;
    display: flex;
    align-items: flex-end;
    /*centrar de manera vertical el título "flex-end para ponerlo abajo"*/
    padding-bottom: 3%;
}

.banner h1 {
    font-size: 4em;
    margin: 0px;
    color: #32de8a;
}

.banner h4 {
    font-size: 1.2em;
}

.title {
    text-align: center;
    font-size: 3em;
    color:  #4CB5AE;
}

.section .section-article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0em 1.5em;
}

.section .section-article .card {
    width: 22em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    text-align: center;
    position: relative;
}

.card .card-servicio{
    font-size: 1.2em;
    color:  #4CB5AE;
    font-weight: 600;
}

.card .fas {
    position: relative;
    font-size: 2.5em;
    text-align: center;
    color: #2A4494;
    z-index: 1;
    background-color: #ffff;
    min-width: 1.5em;
}

.card-body {
    position: relative;
    border: 2px solid #4CB5AE;
    border-radius: 1em;
    top: -0.8em;
    padding: 1.5%;
}

a:visited, a.card-info{
    color: #000;
    font-weight: 600;
}

.container-about {
    padding-top: 8px;
    /*background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);*/
}

.container-about .section.article .about {
    display: flex;
}

.about {
    text-align: center;
    max-width: 30%;
    min-width: 250px;
    margin: 5px;
    justify-content: space-evenly;
    border: 2px solid #4CB5AE;
    border-radius: 1em;
    padding: 8px;
}

.imagen {
    max-width: 15em;
    max-height: 10em;
    min-width: 8em;
    min-height: 5em;
    border-radius: 15em;
}

.cargo {
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2A4494;
}

.texto {
    text-align: justify;
}

.redes {
    position: fixed;
    /*flotante*/
    bottom: 50px;
    right: 1px;
    z-index: 1;
    /*sobre todos los elementos hermanos*/
}

.redes ul li {
    list-style: none;
    font-size: 2.5em;
}

.redes .fab.fa-whatsapp {
    color: #32de8a;
}

.social .fab.fa-whatsapp-square, .social .fab.fa-facebook-square {
    color: #4CB5AE;
}

.social {
    text-align: center;
    font-size: 3em;    
}

.footer-pagina {
    padding: 15px;
    background-color: #122c34;
}

.footer-pagina .ubicacion, .horario{
    text-align: center;
    color: #fff;
    margin: 0;
    padding-top: 8px;
}

@media(max-width:900px) {
    body {
        font-size: 20px;
    }
    th {
        display: table-cell;
    }
    td {
        width: auto;
        display: table-cell;
    }
    td:nth-of-type(1) {
        font-size: 1.8em;
    }
}

@media(max-width:600px) {
    body {
        font-size: 15px;
    }
    .content {
        padding: 1em;
    }
    td {
        display: block;
        width: 100%;
    }
    td:nth-of-type(1) {
        font-size: 1.5em;
        font-weight: bold;
        color: #4CB5AE;
    }
    th {
        display: none;
    }
    .section .section-article .card {
        width: 17em;
    }
}

@media(max-height:550px) {
    body {
        font-size: 10px;
    }
    .content {
        height: 500px;
    }
}